@heading-color: #1d335e;

@font-face {
  font-family: 'MainFont';
  src: url('fonts/MarkOT/MarkOT.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

header {
  grid-area: header;
  background-color: @heading-color;

  .uk-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .logo {
      height: 50px;
      width: 50px;
      filter: brightness(0) invert(1);
    }

    h1 {
      margin: 0 0 0 15px;
      color: white;
    }
  }
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
  overflow-y: scroll;
  max-height: 300px
}

body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'MainFont';
  }

  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.discover-pane,
.create-pane {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 40% auto;
}

.discover-pane {
  grid-template-areas:
    "main detail"
    "copy detail";

  .discover-main {
    grid-area: main;
    min-height: 300px;
  }

  .discover-copy {
    grid-area: copy;
  }

  .discover-detail {
    grid-area: detail;
  }
}

.create-pane {
  grid-template-areas:
    "main main"
    "use-cases detail"
    "publish publish";

  .create-main {
    grid-area: main;
    min-height: 300px;
  }

  .create-use-cases {
    grid-area: use-cases;
  }

  .create-detail {
    grid-area: detail;
  }

  .create-publish {
    grid-area: publish;
  }
}

.loading-wheel {
  background-image: url('images/logo.png');
  color: transparent;
  height: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  .animation-spin();
  opacity: 0.8;
}

.animation-spin() {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  30% {
    transform:rotate(360deg);
  }
  35% {
    transform:rotate(360deg);
  }
  65% {
    transform:rotate(720deg);
  }
  100% {
    transform:rotate(720deg);
  }
}

.element-modifying {
  filter: blur(2px);
}
